



<ion-tabs class="tabs-icon-top tabs-custom "> 

  <!-- <ion-tab title="tab1" icon="ion-man" ui-sref="app.tabs.main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="tab2" icon="ion-person-stalker" ui-sref="app.tabs.search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab> -->

  <!-- Dashboard Tab -->
  <ion-tab title="Created"  ui-sref="app.tabs.created">
    <ion-nav-view name="tab-created" view-cache="false"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Joined"  ui-sref="app.tabs.joined">
    <ion-nav-view name="tab-joined"></ion-nav-view>
  </ion-tab>


</ion-tabs>