/* Empty. Add your own CSS if you like */

.bar-primary {
	background-color: #673AB7;
}

.bar-secondary {
	background-color: #E91E63;
}

.title {
	color: #FFFFFF;
}

.button-primary {
	background-color: #673AB7;
	color: #ffffff;
}

.button-secondary {
	background-color: #E91E63;
	color: #ffffff;
}

.align-left { float: left; } 
.align-right { float: right; } 

.label-primary {
	color: #565656;
}

.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-top {
	padding-top: 0px !important;
}

.item-select select {
	width: 100% !important;
	max-width: 100% !important;
}

.has-header {
    top: 20px !important;
}

.has-header-44 {
    top: 44px !important;
}

.form-item {
	height: 30px;
}

/** Styling for the username field **/
label.item.has-error {  
  border: 2px solid red;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.panel-cost {
  height: 30px;
  width: 100%;
  background-color: #D1C4E9;
  padding-left: 15px;
  vertical-align: middle;
  line-height: 30px;
  text-align: left;

}

.panel-details {
	font-size: 12px !important;
}



.button .icon {
    color: #FFFFFF;
}

.nav-title {
	left: 66px;
	right: 66px;
}

.item-loggedIn {
	background-color: #E0E0E0;
}